html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Hide scrollbars */
}

canvas {
    width:100%;
    height:100%;
}

/* Back to showcase button */
.back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);  /* Dark background with some transparency */
    color: #f4f4f4;  /* Light text color */
    padding: 8px 15px;
    border: 1px solid #f4f4f4;  /* Light border */
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1rem;

    /* Ensure the button is above other elements like the canvas */
    z-index: 10;
}

.back-btn:hover {
    background-color: rgba(0, 0, 0, 0.9);  /* Slightly darker background on hover */
    transform: scale(1.05);  /* Slight growth effect on hover */
}

/* Start Button */
#startContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent dark background */
    z-index: 20;  /* Ensure it's above other content */
}

#start {
    background-color: #2E2E2E;  /* Dark grey */
    border: none;
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 1.5rem;
    color: #f4f4f4;  /* Light text color */
    cursor: pointer;
    outline: none;  /* Remove default browser outline */
    transition: background-color 0.3s, transform 0.3s;  /* Smooth transitions for hover effects */
}

#start:hover {
    background-color: #434343;  /* Slightly lighter grey for hover */
    transform: scale(1.05);  /* Slight growth effect on hover */
}

#start:active {
    background-color: #1B1B1B;  /* Even darker grey for active/click effect */
}

