html {
    margin:0
}

body {
    margin:0;
    padding:0;
}

canvas {
    width:100%;
    height:100%;
}

/* Back to showcase button */
.back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;

    /* Ensure the button is above other elements like the canvas */
    z-index: 10;
}

.back-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
